

<!--<section class="main-header">
<div class="d-flex align-items-center text-left h-75 bg-opaque mask mask-faded-out text-white" id="cover" style="background-image:url(<%= asset_path "header.JPG" %>)">
</section>
-->
<div class="d-flex align-items-center text-left h-75 bg-opaque mask mask-faded-out text-white" id="cover" style="background-image:url(<%= asset_path "header.JPG" %>)">

<section class="welcome">
  <h1>Welcome to Reminutes!</h1>
  <p>
     Let's create the Meeting Minutes or your to do list!<br>
     The asigned people will be remind automatically!!
  </p>

</section>
