<h1>Below action was completed by you. Thanks!</h1>
<h4>Action: <%= @todo.action %></h4>
<h4>Due Date: <%= @todo.duedate %></h4>
<h4>Status: <%= @todo.status %></h4>
<h4>Asigned by: <%= @user.email %></h4>
